
:root {
    --color-one: #151622;
    --color-two:#262934;
    --color-text: #8A8FA4;
  
    --font: 'DM Sans', sans-serif;
  }
  * {
    box-sizing: border-box;
  }
  body {
    font-family: var(--font);
    color: var(--color-text);
  }

  a {
    text-decoration: none;
  }